body{
    text-align:center;
}

button {
    text-align: center;
    text-decoration: none;
    color: blueviolet;
    font-size: 14px;
    display: inline-block;
    border-radius: 0.3em;
    }
    &:hover {
      background-color: $color;
      color: #fff;