@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html{
    font-size: 62.5%;
	margin: 0px;
    padding: 0px;
}

#tooltiptext {  
   color: #1ca9c9; 
} 

#klinurl-body{
    height:40rem;
    min-width:50rem;
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    padding: 3rem;
    background: linear-gradient(to bottom, #ccffcc 0%, #66ffff 100%);
    background: url("../icons/back.jpg");
}

#klinurl-button{
	width: 15rem;
	height: 4rem;
	letter-spacing: 1px;
    background-color: #1ca9c9;
    color: white !important;
	font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
}

#klinurl-table-header{
    letter-spacing: 1px;
    background-color: #1ca9c9;
    color: white !important;
	font-weight: bold;
	font-size: 1.6rem;
}

#klinurl-copy{
	font-size: 1.6rem;	
    color: #1ca9c9;
    visibility: hidden;
}

#longurl{
    width: 100%;
    border: 0.1rem solid #1ca9c9;
}

#klinurl-h1{
	font-size: 2.5rem;	
    letter-spacing: 2px;
    font-weight: bold;
    color: #1ca9c9;
    font-family: 'Paytone One', sans-serif;
}


#klinurl-h5{
	font-size: 1.8rem;	
    letter-spacing: 2px;
    font-weight: bold;
    color: #ce8b57;
}

.klinur-animate {
    -moz-animation: cssAnimation 0s ease-in 7s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #ff3855;
    font-weight: bold;
    font-size: 1.4rem;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

